<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.askcs"
          android:versionCode="1"
          android:versionName="0.1-snapshot">

  <uses-sdk
    android:minSdkVersion="9"
    android:targetSdkVersion="16"/>

  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>

  <uses-feature
    android:name="android.hardware.camera"
    android:required="true"/>
  <uses-feature
    android:name="android.hardware.camera.front"
    android:required="false"/>
  <uses-feature
    android:name="android.hardware.camera.autofocus"
    android:required="false"/>


</manifest>